.vscode/**
src/**
test/**
internal_docs/**
node_modules/**
out/**
*.ts
tsconfig.json
esbuild.js
tasks.md
.gitignore
.vscode-test/**
*.vsix

!dist/**
!dist/extension.js
!package.json
!README.md
!LICENSE
